@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}
.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold !;
  margin-bottom: 0;
}
.heading-section h2 {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

.heading_container h2 { 
  font-weight: 600;
}


.heading_container h2 span{
  color: #00bbf0;
}
.heading_container p {
  margin: 20px;
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: linear-gradient(to right, #4392f1 2%, #00204a 80%);
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}
.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(130deg, #231a6f, #0f054c);
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}
.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}
.navbar-brand span img {
  width: 85px;
  margin-left: 20px;
}

.custom_nav-container {
  padding: 0;
}
.custom_nav-container .navbar-nav {
  margin-left: auto;
}
.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #fff;
  background-color: #00204a;
  font-weight: 500;
  border-radius: 7px;
}
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}
.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #264a9a;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #00204a;
}
.detail-box .p1 {
  color: #00bbf0;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}


.slider_section .detail-box h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #00204a;
}
.detail-box h2{
  font-size:25px;
  color: #f09654;
}

.slider_section .detail-box p {
  color: #f5f5f5;
  font-size: 16px;
  padding: 5px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f09654;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
  font-weight: 600;
  font-size: 17px;
  border: none;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #00204a;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.slider_section .img-box {
  background-size: cover;
}

.slider_section .img-box img {
  width: 90%;
  -webkit-animation: upDown 5s infinite;
  animation: upDown 5s infinite;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  opacity: 1;
}
.slider_section .carousel-indicators li.active {
  width: 8px;
  height: 8px;
  background-color: #00204a;
}
/*  services*/
.service {
  padding: 30px 0 0 0;
  background-color:#f5f5f5;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.heading-section {
  margin-bottom: 30px;
}

.header_section h2 {
  color: #00204a;
} 

.myaccordion {
  margin-top: 30px;
}

.card {
  border: none;
  margin-bottom: 15px;
  margin: 20px;
  background-color:#f5f5f5;
}

.card-header {
  background: linear-gradient(to right, #4392f1 2%, #00204a 80%);
  border-radius: 25px !important;
  padding: 0 !important;
  margin:30px;
}

.btn-link {
  text-decoration: none !important;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}

.btn-link:hover {
  text-decoration: underline;
  color: #084799;
}
.btn-link i {
  position: relative;
  right: 0;
}

.card-body {
  padding: 20px;
}

ol {
  list-style: none;
  padding: 0;

}
ol .li1 {
  color: #00bbf0 !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

ol li {
  color: #00204a;
  padding:5px 0 0 20px !important;
}
.about_section {
  background-color: #00204a;
  color: #ffffff;
}

.about_section .heading_container {
  margin-bottom: 20px !important;
}

.about_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
  padding: 10px;
  margin-right: 15px;
}

.about_section .detail-box h3 {
  font-weight: bold;
  padding: 10px;
}

.about_section .detail-box p {
  margin-top: 15px;
  padding: 10px;
  font-size: 18px;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #00204a;
  text-align: center;
}

.footer_section p {
  color: #fff;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
  color: #00204a;
  background: #00204a;
  background: -moz-linear-gradient(left, #4392f1 0%, #00204a 100%) !important;
  background: -webkit-linear-gradient(
    left,
    #4392f1 0%,
    #00204a 100%
  ) !important;
  background: linear-gradient(to right, #4392f1 0%, #00204a 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  color: #00204a;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #00204a;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
}
.contact-form .label {
  position: absolute;
  opacity: 0.7;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height:60px;
  font-weight: 400;
  color: #00204a;
  cursor: text;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #00204a;
  background-image: linear-gradient(125deg, #00204a, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */

nav {
  &.primary-navigation {
    position: absolute;
    right: 0;
    display: block;
    text-align: center;
    font-size: 16px;

    ul li {
      list-style: none;
      margin: 0 auto;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      
      font-family: arvo;
    }

    li a {
      color: #f1f2f4;
    }

    li a:hover {
      color: #3ca0e7;
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      padding-left: 0;
      z-index: +1;
      left: 0;
      display: none;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
    }
    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #3ca0e7;
      transition: all 0.3s ease;
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    color: #3ca0e7;
  }
}

ul li ul li a {
  transition: all 0.5s ease;
}
